
*{
	padding: 0;
	margin: 0;
}
h1{
	margin-bottom: 20px; 
}
section{
	margin: 20px;
	margin-bottom: 70px;
	text-align: center;
	position: relative;
}
.container div:nth-child(odd){
	background: green;
	
}
.container div:nth-child(even){
	background: orange;
	
}
.container div{
	padding: 28px;
	font-size: 28px;
	margin: 4px;
	text-align: center;

}

.container{
	border: 1px solid black;
	display: flex;

	justify-content: center;

}
/*--------------------------------*/

.container2 div:nth-child(odd){
	background: green;
	
}
.container2 div:nth-child(even){
	background: orange;
	
}
.container2 div{
	padding: 28px;
	font-size: 28px;
	margin: 4px;
	text-align: center;

}

.container2{
	display: block;

}

/*--------------------------------*/

.container3 div:nth-child(odd){
	background: green;
	
}
.container3 div:nth-child(even){
	background: orange;
	
}
.container3 div{
	padding: 28px;
	font-size: 28px;
	margin: 4px;
	text-align: center;

}

.container3{
	display: inline-block;

}
/*--------------------------------*/

.container4 div:nth-child(odd){
	background: green;
	
}
.container4 div:nth-child(even){
	background: orange;
	
}
.container4 div{
	padding: 28px;
	font-size: 28px;
	margin: 4px;
	text-align: center;

}

.container4{
	display: flex;
	flex-direction: column-reverse;
}

/*--------------------------------*/

.container5 div:nth-child(odd){
	background: green;
	
}
.container5 div:nth-child(even){
	background: orange;
	
}
.container5 div{
	padding: 28px;
	font-size: 28px;
	margin: 4px;
	text-align: center;

}

.container5{
	display: flex;
	justify-content: flex-end;
	border: 1px solid black;

}
/*--------------------------------*/
/*--------------------------------*/

.container6 div:nth-child(odd){
	background: green;
	
}
.container6 div:nth-child(even){
	background: orange;
	
}
.container6 div{
	padding: 28px;
	font-size: 28px;
	margin: 4px;
	text-align: center;

}

.container6{
	display: flex;
	justify-content: space-between;
	border: 1px solid black;
}
/*--------------------------------*/
/*--------------------------------*/

.container7 div:nth-child(odd){
	background: green;
	
}
.container7 div:nth-child(even){
	background: orange;
	order: 1;
}
.container7 div{
	padding: 28px;
	font-size: 28px;
	margin: 4px;
	text-align: center;

}

.container7{
	display: flex;
	justify-content: space-around;
	
	border: 1px solid black;
}
/*--------------------------------*/